.rectangle1{
    width: 30%;
    min-height: 729px;
    background: fixed;
    background-color: rgb(192, 192, 2);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.rectangle2{
    width: 75%;
    min-height: 729px;
    background: fixed;
    background-color: blue;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.centeredRectangle{
    border-radius: 20px;
}
.Img1{
    margin-left: 20px;
    border-radius: 10px;
}
.signup{
    margin-bottom: 15px;
}

.txtTitle{
    margin-left: 35px;
    margin-bottom: 3px;
}
.txtInput{
    margin-left: 25px;
    margin-bottom: 15px;
}
.signupbtn{
    width: 40%;
    padding: 10px;
    color: rgb(255, 255, 0);
    font-size: large;
    background-color: blue;
    border-radius: 5px;
    border: 1px solid black;
    margin-left: 32%;
    margin-bottom: 15px;
}
.or{
    margin-left: 40%;
    margin-bottom: 5px;
}
.login{
    margin-left: 48%;
    color: rgb(9, 9, 201);
    text-decoration: underline;
}